<!doctype html>
<html lang="en">

<head th:insert="librerias::librerias">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

	<title>App</title>

	<!-- <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">-->

	<!-- Bootstrap core CSS -->
	<!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">-->

	<!-- Custom styles for this template -->
	<!-- <link href="album.css" rel="stylesheet">-->
</head>

<body>

	<header>

	</header>

	<main role="main">

		<section class="jumbotron text-center p-5">
			<div class="container">
				<h1 sec:authorize="isAuthenticated()" class="nav-item dropdown text-gray-900 jumbotron-heading">
					Categorias: <span sec:authentication="principal.nombre" />
				</h1>
				<span th:if="${listaCategorias.Empty}"> Crea tu primera categoría </span>
				<div th:each="categoria:${listaCategorias}"class="md-4">
					<div class="col-md-4">
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p th:text="${categoria.nombre}" class="card-text"><strong>CATEGORIA 1:</strong>

								<div class="col-md-4">
									<div class="card mb-4 box-shadow">
										<div th:if="${!categoria.getEnlaces().Empty}" class="card-body">
											<a target="_blank" th:each="enlace:${categoria.getEnlaces()}"  th:href="@{http://{url}(url=${enlace.getUrl()})}"><p class="card-text" th:text="${enlace.getNombre()}"><strong>Enlaces</strong></p>
											</a>
											
										</div>
										<div class="d-flex justify-content-between align-items-center">
												<div class="btn-group">
													<a th:attr="data-target='#modal-enlacenuevo'+${categoria.id}" data-toggle="modal" data-target="#modal-edit" class="btn btn-primary btn-sm text-white pointer">
															+
													</a>
												</div>
											</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				
				
				
				<!--añadirmensaje modal-->
				<div class="modal fade" th:id="modal-enlacenuevo+${categoria.id}">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">Modificar</h4>
							<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="modal-body">
							<!--formulario enlace a añadir-->
							<form action="#" th:action="@{/addEnlace/{id}(id=${categoria.id})}" th:object="${enlaceNuevo}" method="post"> 
								<div class"form-row">
								<div class="form-group mt-1"> 
									<label for="texto">Nombre Enlace</label>
									<input type="text" th:field="*{nombre}" class="form-control" id="exampleInputEmail" placeholder="Nombre"/>
								</div>
								<div class="form-group mt-1"> 
									<label for="texto">URL Enlace</label>
									<input type="text" th:field="*{url}" class="form-control" id="exampleInputEmail" placeholder="URL"/>
								</div>
								</div>
								</div>
								<div class="modal-footer">
									<button class="btn btn-secondary btn-sm" data-dismiss="modal" aria-hidden="true">Cancelar</button>
									<input type="submit" value="Añadir Enlace" class="btn btn-primary float-right"/>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- fin añadirmensaje modal-->
				
				

				
				</div>
				
				<div class="col-2 float-right">
					<div class="p-5">
						<button type="button" class="btn btn-primary float-right" data-toggle="modal"
							data-target="#crearMensajeC"> +
						</button>
					</div>
				</div>
				<!--Crear Categoria nueva modal-->
				<div class="modal fade" id="crearMensajeC">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">Crear categoria</h4>
							<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="modal-body">
							<p class="error-text">Introduce el nombre para nueva categoria:
							<!--formulario nombre a editar-->
							<form action="#" th:action="@{/addCategoria/}" th:object="${categoriaNueva}" method="post"> 
								<div class"form-row">
								<div class="form-group mt-1"> 
									<label for="texto">Nombre</label>
									<input type="text" th:field="*{nombre}" class="form-control" id="gheryhrt" placeholder="Categoria" />
								</div>
								</div>
								</div>
								<div class="modal-footer">
									<button class="btn btn-secondary btn-sm" data-dismiss="modal" aria-hidden="true">Cancelar</button>
									<input type="submit" value="Añadir" class="btn btn-primary float-right"/>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- fin create modal-->
				
				
				

	</main>
	<footer class="text-muted">
		<div class="container">
			<p class="float-right">
				<a href="#">Back to top</a>
			</p>
			<p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
			<p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a
					href="../../getting-started/">getting started guide</a>.</p>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>-->
</body>

</html>